<div class="top_nav_section">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="search_form">
            <form action="" autocomplete="off" method="post">
                <div class="form-group">
                    <input type="search" name="search_item" id="search_item" class="search_item form-control shadow-none" placeholder="Enter item">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container movie-content">
    <div class="flex_movie_content">
        <div class="card movie-item">
            <div class="action">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="image_section">
                <img src="../../assets/images/moviesbg.jpg" width="100%" height="100%" alt="movie avator">
            </div>
            <div class="rattings">80%</div>
            <div class="details">
                <div><b>The Takedown</b></div>
                <div class="text-title">12/13/2012</div>
            </div>
        </div>
    </div>
</div>