.search_form form{
    width: 70%;
    margin: auto; 
    margin-top: 15%;
}
.top_nav_section{
    height: 60vh;
    background-image: url(../../assets/images/moviesbg.jpg);
    background-size: 100% 100%;
}
#search_item{
    height: 45px;
    background-color: inherit;
    border-color: #ffffff;
    color: #ffffff;
}
.flex_movie_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    row-gap: 20px;
    column-gap: 20px;
}
.movie-item{
    width: 200px;
    position: relative;
    border:none;
    border-radius: 15px;
    background-color:rgba(211, 211, 211, .2);
    overflow: hidden;
}
.card .action{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 4px;
    background-color: rgba(255,255,255,.6);
    cursor: pointer;
    z-index: 6;
}
.action:hover .image_sections{
    background-color: rgba(211, 211, 211, .6);
}
.action:hover .image_sections{
    background-color: rgb(19,19,19);
}
.card .image_section{
    height: 240px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    transition: 0.75s ease-out;
}
.card .rattings{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: -20px;
    background-color: #415c3e;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 9px;
}
.card .details{
    margin: 20px;
}
.card .image_section img{
    border-radius: 15px;
    transition: .75s ease-out;
}
.more_details{
    width:90%;
    margin: 5px 5px 0px 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
    font-size: 12px;
}
/* .more_details::-webkit-scrollbar{
    width: 4px;
    color: #415c3e;
} */
.scroll_top{
    width: 40px;
    height: 40px;
    background-color: #415c3e;
    color: #ffffff;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 0;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}
.image_section:hover img{
   width:250px;
   height:300px;
}
.card .rattings{
    font-size: 14px;
}
/* .content_no_nav{
    position: relative;
    z-index: 6;
}
.blur_backg{
    background-color: rgba(19, 19, 19, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */