<div class="top_nav_section">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="search_form">
            <form action="" autocomplete="off" method="post">
                <div class="flex_form">
                    <div class="form-group">
                        <input type="text" name="search_item" id="search_item" class="search_item form-control shadow-none" placeholder="Enter item">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" id="submitbtn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container movie-content">
    
</div>