.search_form form{
    width: 70%;
    margin: auto; 
    margin-top: 15%;
}
.top_nav_section{
    height: 60vh;
    background-image: url(../../assets/images/moviesbg.jpg);
    background-size: 100% 100%;
}
#search_item{
    height: 45px;
    background-color: inherit;
    border-color: #ffffff;
    color: #ffffff;
}